<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>AxonRadioMockup</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
<link rel='stylesheet prefetch' href='https://unpkg.com/vuetify@1.0.13/dist/vuetify.min.css'>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app">
  <v-app dark id="inspire">
    <v-container fluid>
      <h2>AXONRADio</h2>
      <p>Please choose a genre</p>
      <p>now playing [[ radios ]]</p>
      <iframe id="player" type="text/html" width="640" height="390"
       src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
       frameborder="0"></iframe>
      <v-radio-group v-model="radios" :mandatory="false">
        <v-divider></v-divider>
        <v-radio label="Jazz" value="jazz"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Rock" value="rock"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Blues" value="blues"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Pop" value="pop"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Reggae" value="reggae"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Hiphop" value="hiphop"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Disco" value="disco"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Country" value="country"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Classical" value="classical"></v-radio>
        <v-divider></v-divider>
        <v-radio label="Metal" value="metal"></v-radio>
        <v-divider></v-divider>
      </v-radio-group>
    </v-container>
    <v-container fluid>
      <v-btn v-on:click="getSongs">Play</v-btn>

      <!-- <youtube :video-id="videoId"></youtube> -->
      <p>[[songs]]</p>
      <div v-for="song in songs" :key="song.id">
        <div>
          <p>[[song.name]]</p>
          <p>[[song.genre]]</p>
          <p>[[song.url]]</p>
          <p>[[song.vidID]]</p>
          <v-divider></v-divider>
        </div>
      </div>
    </v-container>
  </v-app>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.13/vuetify.js'></script>
<script src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
<script src="static/index.js"></script>
<!-- <script src="{{ url_for('static', filename='node_modules/vue-youtube/dist/vue-youtube.js')}}"></script> -->
<script src="../static/node_modules/vue-youtube/dist/vue-youtube.js" type="module"></script>

</html>
